menu "Project Configuration"

    config BROKER_URL
        string "Broker URL"
        default "mqtt://mqtt.lan"
        help
            URL of the broker to connect to

    config BLINK_GPIO
        int "Blink GPIO number"
        range 0 34
        default 2
        help
            GPIO number (IOxx) to blink on and off.

            Some GPIOs are used for other purposes (flash connections, etc.) and cannot be used to blink.

            GPIOs 35-39 are input-only so cannot be used as outputs.

    config WIFI_SSID
        string "WiFi SSID"
        default "hotcat"
        help
            SSID (network name) for the example to connect to.

    config WIFI_PASSWORD
        string "WiFi Password"
        default "mypassword"
        help
            WiFi password (WPA or WPA2) for the example to use.

    config RMT_TX_GPIO
        int "RMT TX GPIO"
        default 5
        help
            Set the GPIO number used for transmitting the RMT signal.

    config STRIP_LED_NUMBER
        int "Number of LEDS in a strip"
        default 300
        help
            A single RGB strip contains several LEDs.
endmenu
